body {
    margin:0;
    padding:0;
    line-height:1.5em;
    background-color: #dcdcdc;
}
    
#map {
    position:absolute;
    top:0;
    bottom:0;
    width:75%;
    visibility: visible;
}

#kb {
    position:absolute;
    top:0;
    bottom:0;
    width:75%;
    visibility: hidden;
    z-index: 1;
    font-family: Courier New, monospace;
    font-size: 12px;

    Overflow-y: scroll;
    background-color: white;
}

article {
    position:absolute;
    top:0;
    right:15px;
    bottom:0px;
    left:15px;
    overflow:auto;
    margin-left:75%;
    font-family: sans-serif;
    text-align: justify;
}

article #footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 11px;
}

article #explainBox {
    font-family: Courier New, monospace;
    font-size: 12px;
    left: 10px;
    border: 1px solid black;
    Overflow-y: scroll;
    background-color: rgba(255, 0, 0, 0.2);
    color: black;
    visibility: hidden;
    height: 20%;
}

.quiet {
color:rgba(0,0,0,0.5);
}
.scroll {
display:block;
text-align:center;
}
.sections {
background:rgba(255,255,255,0.5);

}
section {
padding:  10px 20px;
border-bottom: 1px solid #ddd;
opacity: 0.25;
font-size: 15px;
}
section.active {
opacity: 1;
}
section:last-child {
border-bottom: none;
margin-bottom: 200px;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
.spin::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px #cfd0d1;
  border-bottom-color: #1c87c9;
  border-radius: 50%;
  content: "";
  height: 40px;
  position: absolute;
  top: 30px;
  left: 10%;
  transform: translate3d(-50%, -50%, 0);
  width: 40px;
  will-change: transform;
}
